body {
    min-height: 300vh;
}

.container {
    display: grid;
    background-color: bisque;
    min-height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 1fr 1fr;
    gap: 10px;
    min-height: 300vh;
    padding-left: 100px;
    padding-right: 100px;
}



.form-step1 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    height: 27vh;
    grid-column-start: 1;
    grid-column-end: 4; 
    
}
header {
    display: grid;
    grid-gap: 10px;
    background-color: #258cc5; 
    font-style: initial;
    padding: 20px; 
    min-height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 4;
} 

header > div.first-heading {
    display: grid;
    font-family: 'Courier New', Courier, monospace; 
    font-style: initial;
    font-size: 14mm;
    padding-top: 80px;
    color: aliceblue;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    letter-spacing: -6px;
    margin-bottom: 0cm;
}

header > div.second-heading {
    font-family: 'Courier New', Courier, monospace;  
    font-size: 8mm;
    color: antiquewhite;
} 

header > img.heading-picture {
    display: grid;
    justify-self: end;
    padding-top: 50px;
    width: 200px; 
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;    
    margin-right: 20px;
    margin-bottom: 20px; 
}

.form-step1 > div.first-step-text {
    display: grid;
    grid-gap: 10px;
    background-color: white;
    border: 1px solid #000000;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: 1px solid #000000;
    grid-column-start: 1;
    grid-column-end: 4; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal; 
    font-size: 8mm;
    padding-top: 20px;
    height: 50px;
}

.form-step1 > div.first-step-picture {
    display: grid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    grid-gap: 10px;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: 1px solid #000000;
    height: auto;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 6; 
} 

.form-step1 > input.address-field, .form-step1 > input.country-field {
    display: grid;
    border: 1px solid #000000;
    background-color: white;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid #000000;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 30px; 
} 

.form-step1 > div.first-step-picture > input.logo-picture {
    display: block;
    width: 48;
    height: 48;
}

.form-step1 > input.company-field, .form-step1 > input.zip-field,
.form-step1 > input.city-field,
.form-step1 > input.email-field {
    display: block;
    border: 1px solid #000000;
    background-color: white;
    height: 30px;
}

.form-step2 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: ;
}
